.header {
  width: 100%;
  height: 4rem;
  background-color: var(--color-grey-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.header ul {
  list-style: none;
  display: flex;

  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 var(--size-4);
}

.header a {
  color: var(--color-grey-100);
  font-size: var(--size-3);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-200);
}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-4);
  }
}

@media (max-width: 535px) {
  /* if 3 links are displayed  */
  .header {
    padding: 0 3%;
  }

  .header ul {
    gap: 0rem;
  }
  .header li {
    margin: 0 var(--size-2-5);
  }

  .header a {
    font-size: var(--size-3);
  }
}
@media (max-width: 420px) {
  .header li {
    margin: 0 var(--size-2);
  }

  .header a {
    font-size: var(--size-2-5);
  }
  .header {
    height: 3rem;
  }
}
