.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 1001;
  overflow: hidden;
}

.header {
  background: var(--color-primary-510);
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
    height: 10rem;
  }
}
@media (max-width: 425px) {
  .header h2 {
    font-size: var(--size-5);
  }
}
@media (max-width: 365px) {
  .header h2 {
    font-size: var(--size-4-5);
  }
}
